<% provide(:title, "新着通知") %>
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
      <% if notifications.exists? %>
        <h6 class="border-bottom border-gray pb-2 mb-0">
          <%= notifications.count %>新着通知
        </h6>
          <%= render "notifications/notification", notifications: @notifications%>
      <% else %>
        <p>新着通知はありません</p>
      <% end %>
    </div>
  </div>
</div>