<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-2">チャットルーム作成</h6>
    <%= form_with model:group, url: groups_path, local:true do |f| %>
      <%= render "layouts/error_messages", resource: group %>
        <%= f.text_field :name, class:"form-control", placeholder:"ルーム名" %>
            <hr>
            <%= f.submit "ルーム作成", class:"btn btn-lg btn-block btn-base-1 mt-20 btn-info" %>
          <% end %>
        </div>
