<% if user_signed_in? %>
  <% unless current_user == user %>
    <div id="follow-link-<%= user.id %>">
    <% if current_user.following?(user) %>
      <%= render "users/follow_unfollow", user: user %>
    <% else %>
      <%= render "users/follow_follow", user: user %>
    <% end %>
    </div>
  <% else %>
    <%= link_to user_path(current_user), class: "btn btn-default btn-sm" do %>
      <i class="fas fa-user"></i>プロフィール
    <% end %>
  <% end %>
<% end %>
