<div class="row">
  <div class="col-md-4">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <%= render "users/profile_detail", user: user %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0"><%= title %></h6>
        <% if users.any? %>
            <% users.each do |user| %>
            <%= render "users/profile", user: user%>
            <% end %>
        <% else %>
            <div class="col mt-1">
              <strong><%= title2 %></strong>
            </div>
        <% end %>
    </div>
  </div>
</div>

