/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";


// refile用
  // 元の送信ボタンを隠す
.item_image_btn{
    display: none;
}

  // 送信ボタンの変更
#img_field {
  font-size: 25px;
  font-style: inherit;
  margin: 0 auto;
  color: white;
  background-color: #5bc0de;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
// ここまで

#body {
  // background-image: image-url("snow-background.jpg");
  // background-size: cover;
}

.fa-check-square {
  color: red;
}

.fa-arrow-circle-up:hover{
  color:blue;
  background-color:none;
}

#back-to-top a:hover{
  background :none;
  color:black;
}

#myCarousel {
  height: 520px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: 30px;
}

.carousel-item {
  height: 520px;

}

.carousel-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.sidebar_fixed {
  position: sticky;
  top: 60px;
}
.sidebar_content {
  margin-bottom: 100px;
}